.App{
  background-color: #141414;
  height: 100%;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .leftSide{
  width: 20%;
  float: left;
}

.App .map{
  min-width: 60%;
  float: left;
}

.App .rightSide{
  width: 20%;
  float: left;
}

.cloud{
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #272727;
  opacity: 0;
  animation: fadeInLeaflet 1.5s ease forwards 0.5s;
}

  .cloud .title{
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
  }

  .cloud .result{
    color: rgb(228, 21, 21);
    font-size: 32px;
    font-weight: 700;
  }

.continentInfo{
  text-align: left;
  color: rgb(165, 162, 162);
  border-bottom: 2px solid grey;
  font-size: 18px;
  margin-bottom: 16px;
}

.continentCases{
  margin-left: 20px;
  color: rgb(228, 21, 21);
}

.leaflet-container{
  width: 60%;
  height: 600px;
  opacity: 0;
  animation: fadeInLeaflet 1.5s ease forwards 0.5s;
  float:left;
  margin-top: 11px;
  border-radius: 30px;
}

@keyframes fadeInLeaflet {
  to {opacity: 1;}
}

.show-map{
  height: 300px;
  animation: fadeInShadow 1.5s ease forwards 2s;
}

@keyframes fadeInShadow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 25px 20px rgba(0, 0, 0, .7);
  }
}

.notFoundCountry{
  color: #5f5e5e;
  font-size: 16px;
}

hr{
  border-top: 1px solid #131212;
}

.light-text{
  font-weight: 300;
  color: #5f5e5e;
}

#countryDetails{
  font-size: 20px;
}

#mapImg{
  width: 200px;
}

@media only screen and (max-width: 1340px) {
  .App .leftSide{
    display: none;
  }

  .leaflet-container{
    width: 80%;
  }

  .App .rightSide{
    width: 100%;
    display: inline;
  }

  #countryDetails p{
    float:left;
    margin-right: 20px;
  }

  #mapImg{
    width: 100px;
    float: left;
    margin-right: 20px;
  }

  hr{
    display: none;
  }

  .br{
    display: block;
  }
}